@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

html{
    background-color: #dddddd;
}

.imagen{
    text-align: center;
}

.demas{
    background-color: white;
    width: 445px;
    text-align: justify;
    margin:auto;
}

.demas{
    font-family: Lato;
}

.nombre{
    padding-top: 40px;
    margin: 20px;
}

h2{
    margin: 20px;
}

.tienda{
    margin: 20px;
}

.precio{
    margin: 20px;
}

.desc{
    background-color: red;
    color: white;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

h5{
    margin: 20px;
}

li{
    padding-left: 25%;
}

button{
    margin-left: 30%;
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius: 30px;
    border: 0px;
    padding: 10px;
    background-color: #ADD500;
}